{% extends "base.html" %}

{% block title %}Categories{% endblock title %}
{% block body %}Queries regrading MiniProject
{% comment %} <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Answer</a>
    </div>
  </div> {% endcomment %}

  <div class="card" style="width: 18rem;background-color: rgb(136, 238, 238);">
    <div class="card-body">
      <h5 class="card-title">Harsh Chaudhari</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Category:-MiniProject</h6>
      <p class="card-text">Which youtube video should i watch for my java MiniProject</p>
      <a href="#" class="card-link">Answer</a>
    </div>
  </div>

{% endblock body %}